{% extends 'base.html' %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </form>
<div id="wrapper">
  <div id="header" class="join_membership" role="banner">
      <h1><a href="http://127.0.0.1:8000/" class="h_logo"><span class="blind">LOGO</span></a></h1>
  </div>
    	<div id="content">
            <div>
                <h3>
                    <label for="id">아이디</label>
                </h3>
                <span class="box int_id">
                    <input type="text" id="id" class="int" maxlength="20">
                    <span class="step_url"></span>
                </span>
                <span class="error_next_box"></span>
            </div>
        </div>
</div>
{% endblock %}